* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  @media (prefers-color-scheme: light) {
    .containerBody {
      background: #e55d87; /* fallback for old browsers */
      background: -webkit-linear-gradient(
        10deg,
        #2980b9,
        #6dd5fa,
        #92efde,
        #ffffff
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        10deg,
        #186ca3,
        #60c1c8,
        #e09ad3,
        #ffffff
        
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    .custom-shape-divider-bottom-1688879603 .shape-fill {
      fill: #ffffff;
    }
  }
  @media (prefers-color-scheme: dark) {
    .containerBody {
      background: #e55d87; /* fallback for old browsers */
      background: -webkit-linear-gradient(
        10deg,
        #081d2b,
        #0d3b53,
        #66237b,
        #969595
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        10deg,
        #081d2b,
        #0d3b53,
        #66237b,
        #858383
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    .custom-shape-divider-bottom-1688879603 .shape-fill {
      fill: #62868b;
    }
  }
  /* Styles for computers and larger screens */
@media (min-width: 768px) {
  .containerBody {
    background-size: 200% 200%;
  }
  .custom-shape-divider-bottom-1688879603 svg {
    height: 150px;
  }
  .toptitle{
    margin-top: 15px;
    padding-bottom: 10px;
  }
  h1 {
      width: 200px;
      font-size: 38px;
  }
  .sectionMain{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-around; */
    /* gap: 12px; */
  }
  .leftSection{
    width: 30%;
    padding-left: 40px;
    padding-right: 10px;
  }
  #ins {
      font-size: 18px;
      animation: moveUpDown 7s ease-in-out infinite;
  }
  .mobile-br {
    display: block;
  }
  #main {
    width: 40%;
    margin-top: 30px;
  }
  .cell {
    width: 80px;
    height: 80px;
    font-size: 24px;
  }
  #but {
    width: 200px;
    height: 40px;
    font-size: 20px;
  }
  #print {
    font-size: 30px;
      padding-left: 10px;
      margin: 20px 4px;
  }
  .iframeClass{
      width: 200px;
      height: 200px;
  }
  .divCongrajulae{
    padding-bottom: 100%
  }
}

/* Styles for mobile devices */
@media (max-width: 767px) {
  * {
    box-sizing: border-box;
  }  
  body {
    max-height: 100vh; /* Container will take the full height of the screen */
  }
  
  .containerBody {
    background-size: 100% 100%;
  }
  .custom-shape-divider-bottom-1688879603 svg {
    height: 80px;
  }
  .toptitle{
    margin-top: 10px;
    padding-bottom: 5px;
  }
  h1 {
    width: 135px;
    font-size: 34px;
  }
  .sectionMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    gap: 6px;
  }
  .leftSection{
    width: 90%;
    padding: 4px;
  }
  #ins {
    font-size: 12px;
  }
  .mobile-br {
    display: none;
  }
  #main {
      width: 80%;
      margin-top: 10px;
  }
  .cell {
    width: 60px;
    height: 60px;
    font-size: 20px;
    text-align: center;
    box-sizing: border-box;
    padding: 2px;
  }
  #but {
    width: 150px;
    height: 30px;
    font-size: 16px;
  }
  #print {
    font-size: 20px;
      /* padding-left: 10px; */
      margin: 10px 4px;
  }
  .iframeClass{
      width: 60px;
      height: 60px;
  }
  .divCongrajulae{
    padding-bottom: 50%
  }
  /* Example CSS to control input appearance */

}

  .containerBody {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: tomato; */
    height: 100vh;
    width: 100%;
    animation: gradient 7s linear infinite;
  }
  @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
  }
  .custom-shape-divider-bottom-1688879603 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .custom-shape-divider-bottom-1688879603 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);   
  }
  .totalContent{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
.rightSection{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    gap: 30px;
}
.congragulateGif{
    display: none;
}
#matchTieGif{
   display: none;
}
.toptitle{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #4fa7e1;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}
  
h1 {
	color: rgb(41, 3, 57);
    background-color: #be9dc6;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}
h1::first-letter{
    initial-letter: 2;
    padding-right: 4px;
    color: rgb(61, 8, 83);
}
p {
	margin-bottom: -10px;
}
.ui {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.row {
	display: flex;
}
.cell {
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	cursor: pointer;
    border-radius: 10%;
    margin: 2.5px;
    transform: scale(1); /* Initial scale */
    transition: transform 0.3s ease;
}
.cell:hover{
    transform: scale(1.1); /* Scale up on hover */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    background-color: #f5f5f5;
}
.cell:active {
	outline: none;
}
/* 3*3 Grid */
#b1{
	border-bottom: 1px solid gray;
	border-right: 1px solid gray;
}

#b2 {
	border-bottom: 1px solid gray;
	border-right: 1px solid gray;
	border-left: 1px solid gray;
}

#b3 {
	border-bottom: 1px solid gray;
	border-left: 1px solid gray;
}

#b4 {
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	border-right: 1px solid gray;
}
	
#b5 {
	border: 1px solid gray;
}

#b6 {
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	border-left: 1px solid gray;
}

#b7 {
	border-top: 1px solid gray;
	border-right: 1px solid gray;
}

#b8 {
	border-top: 1px solid gray;
	border-right: 1px solid gray;
	border-left: 1px solid gray;
}

#b9 {
	border-top: 1px solid gray;
	border-left: 1px solid gray;
}
/* Start Over Button */
#but {
	box-sizing: border-box;
	/* width: 200px;
	height: 40px; */
	border: 1px solid rgb(76, 155, 235);
	margin-left: auto;
	border-radius: 8px;
	font-family: Verdana,
		Geneva, Tahoma, sans-serif;

	background-color: whitesmoke;
	color: rgb(19, 79, 140);
	/* font-size: 20px; */
	cursor: pointer;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

/* Player turn space */
#print {
	font-family: Verdana,
		Geneva, Tahoma, sans-serif;
	color: rgb(20, 23, 90);
	/* font-size: 30px; */
    /* padding-left: 10px; */
    /* margin: 20px 4px; */
}

/* Main Container */
#main {
	text-align: center;
    /* width: 40%;
    margin-top: 30px; */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

/* Game Instruction Text */
#ins {
	font-family: Verdana,Geneva,
					Tahoma, sans-serif;
	color: rgb(13, 61, 110);
}

/* Define animation keyframes */
@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-80px);
  }
}
